
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

fieldset{
    width: 50%;
    border-style:ridge;
    border-color: #2c2927;
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
    margin:auto;
    background-color: #d9d9d9d7;
}

.book-btn{
    background-color: #85bcff;
    margin-left: 50px;
}

.book-btn , .mng-btn , .check-btn{
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    font-size: 18px;
    padding: 7px;
}
.mng-btn{
    margin-left: 100px;
}

.check-btn{
    margin-left: 100px;
}

.check-btn:hover {
    background-color: #85bcff;
    
}
.mng-btn:hover{
    background-color: #85bcff;
}


.submitbtn{
    background-color: #6ab7ff;
    color: #fff;
    border-color: #00034fdc;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    font-size: 25px;
    padding: 5px;
}


.submitbtn:hover {
    background-color: #167fff;
}


.loc1{
    width: 31%;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 6px;
}

.loc2{
    width: 70%;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 6px;
}

.date{
    width: 31%;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 6px;
}

.pc{
    width: 70%;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 6px;
}

.from{
    margin-left: 50px;
    margin-top: 10px;
  
}

.to{
    margin-left: 420px;
    margin-top: -52px;
    margin-bottom:20px ;
    
}

.pscount{
    margin-left: 420px;
    margin-top: -52px;
}
.dates{
    margin-left: 50px;
}

.trip{
    margin-left: 50px;
}

.subbtn{
    margin-left: 570px;
    margin-top: -30px;
}