
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    background-color: rgba(231, 231, 231, 0.753);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: 150px;
}

.payment-description {
    width: 25%;
    text-align: center;
}

.payment-description h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.payment-description p {
    font-size: 16px;
    color: #0c0c0c;
}

.payment-form {
    width: 45%;
    text-align: center;
    border: 1px solid #252424;
    padding: 20px;
    border-radius: 5px;
}

.payment-form h2 {
    font-size: 27px;
    margin-bottom: 20px;
}

.payment-form h3 {
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    border-radius: 10px;
}

label {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:block;
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.payment-methods {
    margin: 20px 0;
}

.method {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height:50px;
    width:100px;
}

.cancel {
    font-size:18px;
    background-color:rgb(197, 52, 52);
    color:#fff;
}

.pay {
    font-size:18px;
    background-color: green;
    color: #fff;
}

.total-amount {
    width: 20%;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.total-amount h3 {
    margin-bottom: 10px;
}

.total-amount p {
    font-size: 20px;
    font-weight: bold;
}
#card-number,#card-name,#expire-date,#security-code{
    border-radius: 10px;
}
#img{
    border-radius:50px;
}