body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.search {
    text-align: center;
    color: rgb(16, 0, 70);
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.searchbox {
    width: 40%;
    height: 350px;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 40px auto; /* Centering box */
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
    color: #18191f;
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.continue-button {
    background-color: #007bff;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
    margin: 10px auto;
    display: block; /* Center button */
    transition: 0.5s;
}

.continue-button:hover {
    background-color: #0056b3;
}

.selectflight {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 30px auto 110px; /* Centering box */
    color: #060031;
}

th, td {
    width: 15%;
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}


.selectbtn:hover {
    background-color: #45a049;
}

/* Responsive Design for Tablets (width <= 768px) */
@media (max-width: 768px) {
    .searchbox, .selectflight {
        width: 90%;
    }

    .continue-button {
        font-size: 20px;
        max-width: 250px;
    }

    th, td {
        font-size: 18px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }
}

/* Responsive Design for Mobile Devices (width <= 480px) */
@media (max-width: 480px) {
    .searchbox, .selectflight {
        width: 100%;
        margin-left: 0;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    th, td {
        font-size: 16px;
    }

    .continue-button {
        font-size: 18px;
        padding: 10px;
    }
}
